html, body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color:white;
}
.wrapper{
}

/* https://codepen.io/riojosdev/pen/RwrROqy */

#dialog-1{
    display:none;
    height: 20%;
    width: 40%;
    background-color: lightblue;
    position: absolute;
    /* border-radius: 10%; */
}

.left-point{
    width: 0;
	height: 0;
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-top: 10vh solid lightblue;
	/* border-top: 10vh solid lightblue; */
	position: absolute;
	top: 45%;
	left: -9%;
	transform: rotate(60deg);
}

.right-point{
	width: 0;
	height: 0;
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-top: 10vh solid lightblue;
	position: absolute;
	top: 45%;
	right: -9%;
	transform: rotate(-60deg);
}
.stack-top{
    z-index: 9;
    margin: 20px; /* for demo purpose  */
}

.animals{
    height: 80vh;
    display: flex;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    /* width: 90%;
    margin-left: auto;
    margin-right: auto; */
}
.animal{
    place-self: self-end;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.dog{
    width: 50%;
    padding-bottom: 2em;
}
.cat{
    width: 30%;
}
.turtle{
    width: 20%;
}
.snake{
    width: 20%;
    padding-bottom: 22em;
}
.message{
    height: 20vh;
}
#text{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
    font-size: 1.2em;
}